/* Coolors Exported Palette - https://coolors.co/843bcb-dba8ac-01baef-0e0004-ff3182 */

/* CSS HEX */
--blue-violet: #843bcbff;
--pastel-pink: #dba8acff;
--cyan-process: #01baefff;
--xiketic: #0e0004ff;
--winter-sky: #ff3182ff;

/* CSS HSL */
--blue-violet: hsla(270, 58%, 51%, 1);
--pastel-pink: hsla(355, 41%, 76%, 1);
--cyan-process: hsla(193, 99%, 47%, 1);
--xiketic: hsla(343, 100%, 3%, 1);
--winter-sky: hsla(336, 100%, 60%, 1);

/* SCSS HEX */
$blue-violet: #843bcbff;
$pastel-pink: #dba8acff;
$cyan-process: #01baefff;
$xiketic: #0e0004ff;
$winter-sky: #ff3182ff;

/* SCSS HSL */
$blue-violet: hsla(270, 58%, 51%, 1);
$pastel-pink: hsla(355, 41%, 76%, 1);
$cyan-process: hsla(193, 99%, 47%, 1);
$xiketic: hsla(343, 100%, 3%, 1);
$winter-sky: hsla(336, 100%, 60%, 1);

/* SCSS RGB */
$blue-violet: rgba(132, 59, 203, 1);
$pastel-pink: rgba(219, 168, 172, 1);
$cyan-process: rgba(1, 186, 239, 1);
$xiketic: rgba(14, 0, 4, 1);
$winter-sky: rgba(255, 49, 130, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #843bcbff, #dba8acff, #01baefff, #0e0004ff, #ff3182ff);
$gradient-right: linear-gradient(90deg, #843bcbff, #dba8acff, #01baefff, #0e0004ff, #ff3182ff);
$gradient-bottom: linear-gradient(180deg, #843bcbff, #dba8acff, #01baefff, #0e0004ff, #ff3182ff);
$gradient-left: linear-gradient(270deg, #843bcbff, #dba8acff, #01baefff, #0e0004ff, #ff3182ff);
$gradient-top-right: linear-gradient(45deg, #843bcbff, #dba8acff, #01baefff, #0e0004ff, #ff3182ff);
$gradient-bottom-right: linear-gradient(135deg, #843bcbff, #dba8acff, #01baefff, #0e0004ff, #ff3182ff);
$gradient-top-left: linear-gradient(225deg, #843bcbff, #dba8acff, #01baefff, #0e0004ff, #ff3182ff);
$gradient-bottom-left: linear-gradient(315deg, #843bcbff, #dba8acff, #01baefff, #0e0004ff, #ff3182ff);
$gradient-radial: radial-gradient(#843bcbff, #dba8acff, #01baefff, #0e0004ff, #ff3182ff);